@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    -fx-font-family: "Alata", sans-serif;
}

.button {
    -fx-cursor: HAND;
}
/* Background */
.white-bg {
    -fx-background-color: #ffffff;
}

/* Border */
.border {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.border-bottom {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 0 0 2px 0;
}

.border-round {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 99999;
}

/* Active */
.activeNav {
    -fx-background-color: #c54242;
    -fx-text-fill: #ffffff;
}

/* Nabar */
#Navbar {
    -fx-font-size: 18px;
}
