.anchorPane{
    -fx-background-color: #123456;
}
.input-email{
    -fx-background-color:  #2de3da;
    -fx-background-radius: 10;
}
.btn-submit{
    -fx-background-color:  #efefef;
    -fx-background-radius: 10;
}
.btn-back{
    -fx-background-color:  #efefef;
    -fx-background-radius: 10;
}