.anchorPane{
    -fx-background-color: #123456;
}
.btn-submit{
    -fx-background-color:  #efefef;
    -fx-background-radius: 10;
}
.bg-hbox{
    -fx-background-color: #2de3da;
    -fx-background-radius: 10;
}
.square{
    -fx-background-color:  #2de3da;
}