.anchorPane{
    -fx-background-color: #123456;
}
.btn-confirm{
    -fx-background-color:  #efefef;
    -fx-background-radius: 10;
}
.input-password{
    -fx-background-color:  #2de3da;
    -fx-background-radius: 10;
}